// *** --- VARIABLES MEDIA QUERY 
$MAX_MD : '(max-width:991px)';
$MAX_SM : '(max-width:767px)';
$MIN_SM : '(min-width:768px)';
$MIN-MD : '(min-width:992px)';
$MIN-LG : '(min-width:1200px)';

// *** VARIABLES COLOR STYLING 
$GREEN : #009b00;
$COLOR-BORDER-BOTTOM: #efefef;
$BG-MENU: rgb(247 247 247 / 92%);
$BG-NAVBAR: #fff;
$BG-SECTION-CRYPTO: #e5efff;
$RED : RED;